# corresponding to the most recent clang versions in
# https://github.com/conda-forge/clang-compiler-activation-feedstock/blob/main/recipe/conda_build_config.yaml
CLANG_VERSION:
  - 16.0.6
  - 17.0.6
  - 18.1.8
  - 19.1

# VS-related things that are zipped together:
# match vcver / vsyear / vsver / runtime_version / cl_version from
# https://github.com/conda-forge/vc-feedstock/blob/main/recipe/conda_build_config.yaml
VCVER:
  - 14.3
  - 14.2
VSYEAR:
  - 2022
  - 2019
VSVER:
  - 17
  - 16
RUNTIME_VERSION:
  - 14.40.33810
  - 14.29.30139
CL_VERSION:
  - 19.40.33808
  - 19.29.30139

# toolchain name in Microsoft.VisualStudio.Component.VC.<TOOLCHAIN_COMBINED>.x86.x64, see
# https://learn.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-build-tools
TOOLCHAIN_COMBINED:
  - 14.40.17.10
  - 14.29.16.11

# header version corresponding to minor version (i.e. x in VS 15.x), see last digits of _MSC_FULL_VER in
# https://en.wikipedia.org/wiki/Microsoft_Visual_C%2B%2B#Internal_version_numbering;
# alternatively, download & inspect the *.vsix binaries (for details see install-pkg.sh)
MSVC_HEADERS_VERSION:
  - 14.40.33807
  - 14.29.30133

zip_keys:
  -
    - VCVER
    - VSYEAR
    - VSVER
    - RUNTIME_VERSION
    - CL_VERSION
    - TOOLCHAIN_COMBINED
    - MSVC_HEADERS_VERSION

# use latest version from https://github.com/conda-forge/ucrt-feedstock/blob/main/recipe/meta.yaml
WINSDK_VERSION:
  # needs to stay on ".0" even though the archive page will show a non-zero patch version
  - 10.0.22621.0
# ensure that the above version matches the latest release under
# https://developer.microsoft.com/en-us/windows/downloads/sdk-archive/
# and extract the link for the iso from there
WINSDK_URL:
  - https://go.microsoft.com/fwlink/?linkid=2249825

CHOST_BASE:
  - x86_64-pc-windows-msvc

# FINAL_* entries are taken from the linux64 entries in
# https://github.com/conda-forge/ctng-compiler-activation-feedstock/blob/main/recipe/conda_build_config.yaml;
# Removed -fPIC & -fno-plt
FINAL_CFLAGS:
  - -march=nocona -mtune=haswell -ftree-vectorize -fstack-protector-strong -O2 -ffunction-sections -pipe

FINAL_CXXFLAGS:
  - -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fstack-protector-strong -O2 -ffunction-sections -pipe
