# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: win
  pool:
    vmImage: windows-2022
  strategy:
    matrix:
      win_64_CLANG_VERSION17.0.6CL_VERSION19.29.30139RUNTIME_VERSION14.29.30139VCVER14.2VSYEAR2019:
        CONFIG: win_64_CLANG_VERSION17.0.6CL_VERSION19.29.30139RUNTIME_VERSION14.29.30139VCVER14.2VSYEAR2019
        UPLOAD_PACKAGES: 'True'
      win_64_CLANG_VERSION17.0.6CL_VERSION19.42.34433RUNTIME_VERSION14.42.34433VCVER14.3VSYEAR2022:
        CONFIG: win_64_CLANG_VERSION17.0.6CL_VERSION19.42.34433RUNTIME_VERSION14.42.34433VCVER14.3VSYEAR2022
        UPLOAD_PACKAGES: 'True'
      win_64_CLANG_VERSION18.1.8CL_VERSION19.29.30139RUNTIME_VERSION14.29.30139VCVER14.2VSYEAR2019:
        CONFIG: win_64_CLANG_VERSION18.1.8CL_VERSION19.29.30139RUNTIME_VERSION14.29.30139VCVER14.2VSYEAR2019
        UPLOAD_PACKAGES: 'True'
      win_64_CLANG_VERSION18.1.8CL_VERSION19.42.34433RUNTIME_VERSION14.42.34433VCVER14.3VSYEAR2022:
        CONFIG: win_64_CLANG_VERSION18.1.8CL_VERSION19.42.34433RUNTIME_VERSION14.42.34433VCVER14.3VSYEAR2022
        UPLOAD_PACKAGES: 'True'
      win_64_CLANG_VERSION19.1CL_VERSION19.29.30139RUNTIME_VERSION14.29.30139VCVER14.2VSYEAR2019:
        CONFIG: win_64_CLANG_VERSION19.1CL_VERSION19.29.30139RUNTIME_VERSION14.29.30139VCVER14.2VSYEAR2019
        UPLOAD_PACKAGES: 'True'
      win_64_CLANG_VERSION19.1CL_VERSION19.42.34433RUNTIME_VERSION14.42.34433VCVER14.3VSYEAR2022:
        CONFIG: win_64_CLANG_VERSION19.1CL_VERSION19.42.34433RUNTIME_VERSION14.42.34433VCVER14.3VSYEAR2022
        UPLOAD_PACKAGES: 'True'
  timeoutInMinutes: 360
  variables:
    CONDA_BLD_PATH: D:\\bld\\
    MINIFORGE_HOME: D:\Miniforge
    UPLOAD_TEMP: D:\\tmp

  steps:

    - script: |
        call ".scripts\run_win_build.bat"
      displayName: Run Windows build
      env:
        MINIFORGE_HOME: $(MINIFORGE_HOME)
        PYTHONUNBUFFERED: 1
        CONFIG: $(CONFIG)
        CI: azure
        flow_run_id: azure_$(Build.BuildNumber).$(System.JobAttempt)
        remote_url: $(Build.Repository.Uri)
        sha: $(Build.SourceVersion)
        UPLOAD_PACKAGES: $(UPLOAD_PACKAGES)
        UPLOAD_TEMP: $(UPLOAD_TEMP)
        BINSTAR_TOKEN: $(BINSTAR_TOKEN)
        FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
        STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)